<h1>Dragon Ball Page</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar {{ name() }}</h3>
    <input [value]="name()" (change)="name.set(txtName.value)" type="text" class="form-control" placeholder="Nombre" #txtName>
    <input [value]="power()" (change)="power.set(txtPower.valueAsNumber)" type="number" class="form-control mt-2" placeholder="Poder" #txtPower>

    <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">

    <dragonball-character-list [characters]="characters()"></dragonball-character-list>

  </div>
</section>
